html {
	font-family: system-ui, sans-serif;
	font-size: clamp(1rem, 3vmin, 2rem);
	--line-height-factor: 1;
}

p,
ul,
ol,
dl {
	max-width: 75ch;
	line-height: calc( 1.2 * var( --line-height-factor ) );
	line-height: clamp(1.125em, calc( 5cqi * var( --line-height-factor ) ), 2.125em);
}

ul, ol, dl {
	--line-height-factor: 0.75;
}

a,
a:visited {
	color: rgb( 0% 0% 100% / 1 );
	text-decoration-thickness: max( 0.08em, 1px );
	text-decoration-color: rgb( 0% 0% 100% / 0.5 );
}
a:hover {
	text-decoration-color: rgb( 0% 0% 100% / 1 )
}

h1,
h2,
h3,
h4,
h5,
h5 {
	line-break: balance;
}